---
import Layout from '../layouts/with_teaser.astro';
import angebot1 from '../assets/icons_aufgaben/beratung.svg';
import angebot2 from '../assets/icons_aufgaben/unterlagen.svg';
import angebot3 from '../assets/icons_aufgaben/ortsbesichtigung.svg';
import angebot4 from '../assets/icons_aufgaben/angebot.svg';
import { Image } from 'astro:assets';
---

<Layout  
    topBg="/src/assets/teaser/bauprojekt_teaser.jpg" 
    title="Ihr Angebot - Schritt für Schritt" 
    description="Maßgeschneiderte Lösungen, wettbewerbsfähige Preise und erstklassiger Service. Jetzt individuelles Angebot anfordern!"
    >
    <div class="card-section dark">
        <div class="container">
            <h2>Der Weg zu Ihrem Angebot<span>.</span></h2>

            <div class="list">

                <!-- 1. -->
                <div class="list-item">
                    <Image src={angebot1} alt="Schritt 1 - Beratung" width="115"></Image>
                    <div class="headline">
                        Beratung<span>.</span>
                    </div>
                    <div class="descr">
                        Im ersten Termin werden die Rahmenbedingungen, Wünsche, Anforderungen sowie eine grobe Timeline besprochen.
                    </div>
                </div>

                <!-- 2. -->
                <div class="list-item">
                    <Image src={angebot2} alt="Schritt 2 - Ihre Unterlagen" width="115"></Image>
                    <div class="headline">
                        Ihre Unterlagen<span>.</span>
                    </div>
                    <div class="descr">
                        Wir werten die von Ihnen zur Verfügung gestellten Unterlagen aus. Pläne/Baubeschreibung/Raumbuch etc.
                    </div>
                </div>

                <!-- 3. -->
                <div class="list-item">
                    <Image src={angebot3} alt="Schritt 3 - Ortsbesichtigung" width="115"></Image>
                    <div class="headline">
                        Ortsbesichtigung<span>.</span>
                    </div>
                    <div class="descr">
                        Durch unser Team erfolgt eine Bestandsaufnahme der Mietfläche inkl. aller technischen Anlagen in Bezug auf die Vorstellung des geplanten Ausbaus.
                    </div>
                </div>

                <!-- 4. -->
                <div class="list-item">
                    <Image src={angebot4} alt="Schritt 4 - Angebot" width="115"></Image>
                    <div class="headline">
                        Ihr Angebot<span>.</span>
                    </div>
                    <div class="descr">
                        Sie erhalten unser Angebot innerhalb von 7 WT inkl. einer Mieterausbaubeschreibung, wenn sie das wünschen. Die geplanten Ausbauleistungen können wir Ihnen auf Wunsch auch gerne zum Pauschalfestpreis anbieten.
                    </div>
                </div>

        </div>
    </div>
</Layout>

<style>
    .list{
        list-style: none;
        font-size: 20px;
        padding-bottom: 55px;
    }
    .list-item{
        display: grid;
        grid-template-columns: 115px 330px;
        align-items: center;
        grid-template-areas: 
            "icon headline"
            "icon descr";
        margin: 45px 0;
        gap: 8px 30px;
        justify-content: center;
    }
    .list-item img{
        grid-area: icon;
        align-self: flex-start;
    }
    .list-item .headline{
        font-size: 34px;
        font-weight: 700;
        grid-area: headline;
    }
    .list-item .descr{
        font-size: 16px;
        line-height: 1.4;
        grid-area: descr;
    }
    .list-item span{
        color: var(--yellow);
    }

    @media (max-width: 1000px){

        .container{
            padding-top: 40px;
        }
        .list{
            padding-bottom: 5px;
        }
        .list-item{
            grid-template-columns: 80px 330px;
            gap: 6px 20px;
        }
        .list-item img{
            width: 80px;
        }
        .list-item .headline{
            font-size: 26px;
        }
    }

    @media (max-width: 600px){

        .list-item{
            grid-template-columns: 70px 1fr;
            gap: 6px 15px;
        }
        .list-item img{
            width: 70px;
        }
        .list-item .headline{
            font-size: 22px;
        }
    }
</style>
