---
import Layout from '../layouts/no_teaser.astro';
import ImageGrid from "../components/ImageGrid.astro";

const allFiles = import.meta.glob("../assets/referenzen/**/*");
const refs = new Map<string, any>;
for (const [path, getter] of Object.entries(allFiles)) {
    const refMatch = /^.*\/(.*?)\/[^/]*$/.exec(path);
    if (!refMatch || !refMatch[1]) throw new Error("error extracting reference name")
    const refName = refMatch[1];
    if (!refs.has(refName))
        refs.set(refName, {
            data: undefined,
            titleImages: [],
            allImages: [],
        })
    const inst = refs.get(refName);
    if (path.endsWith(".json"))
        inst.data = await getter()
    else {
        inst.allImages.push(getter);
        if (/titel.[a-zA-Z]+$/.exec(path))
            inst.titleImages.push(getter)
    }
}
const cards = Array.from(refs.values())
---

<Layout>
    <div class="card-section dark " id="gallery">
        {cards.map(data =>
                <div class="container">
                    <ImageGrid
                            titleImages={data.titleImages}
                            allImages={data.allImages}
                            data={data.data}
                    />
                </div>
        )}
    </div>
</Layout>

<style>
    #gallery {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
    }
</style>