---
import Layout from '../layouts/no_teaser.astro';
import ImageGrid from "../components/ImageGrid.astro";
---

<Layout>
    <div class="card-section dark " id="gallery">
        <div class="container">
            <ImageGrid
                title=""
                byline=""
                headImageUrl="https://cdn.chicken69.dev/stuff/QUADRUM-Malerwinkel-02-016-HDR.jpg.jpg"
                extraImageUrls={[
                    "https://cdn.chicken69.dev/stuff/QUADRUM-Malerwinkel-02-122.jpg.jpg",
                    "https://cdn.chicken69.dev/stuff/QUADRUM-Malerwinkel-02-043.jpg.jpg.jpg",
                    "https://cdn.chicken69.dev/stuff/QUADRUM-Malerwinkel-02-076-HDR.jpg.jpg"
                ]}
                bubbles={[
                    {text: "8 Wochen", icon: "/icons/clock-regular.svg"},
                    {text: "München", icon: "/icons/hashtag-solid.svg"},
                    {text: "75m²"}
                ]}
            >
            </ImageGrid>
        </div>
        <div class="container">
            <ImageGrid
                    title=""
                    byline=""
                    headImageUrl="https://cdn.chicken69.dev/stuff/Bprojekt-anwalt-0523_storz-12.jpg"
                    extraImageUrls={[
                        "https://cdn.chicken69.dev/stuff/Bprojekt-anwalt-0523_storz-7.jpg",
                        "https://cdn.chicken69.dev/stuff/Bprojekt-anwalt-0523_storz-26.jpg",
                        "https://cdn.chicken69.dev/stuff/Bprojekt-anwalt-0523_storz-6.jpg",
                        "https://cdn.chicken69.dev/stuff/Bprojekt-anwalt-0523_storz-31.jpg"
                    ]}
                    bubbles={[
                        {text: "3,5 Monate", icon: "/icons/clock-regular.svg"},
                        {text: "Theresienhöhe", icon: "/icons/hashtag-solid.svg"},
                        {text: "430m²"}
                    ]}
            >
            </ImageGrid>
        </div>
    </div>
</Layout>

<style>
    #gallery {
        display: flex;
        flex-direction: column;
        padding: 30px 0;
    }
</style>