---
/* 4:5 */
import broschuere from '../../assets/broschuere_dark.png';

---

<div class="container">
    <h2>Unsere Broschüre<span>.</span></h2>
    <div class="broschuere-grid">
        <img class="round-img" src={broschuere.src} width="500" alt="Aktuelle Broschüre">
        <div>
            <p>
                Erfahren Sie alles über unsere erstklassigen Dienstleistungen, unsere starken Partner und die Referenzen unserer zufriedenen Kunden. 
                Lassen Sie sich von unseren abgeschlossenen Projekten inspirieren.
            </p>
            <p>
                Laden Sie die Broschüre herunter und erhalten Sie alle wichtigen Informationen auf einen Blick.
            </p>
            <a href="/media/broschuere_bauprojekt_gmbh_by_fmc_koehler.pdf">
                <button class="cta-btn">Broschüre anzeigen</button>
            </a>
        </div>
    </div>
    
</div>


<style>
    .broschuere-grid{
        display: grid;
        grid-template-columns: 500px 1fr;
        gap: 50px;
        margin-bottom: 80px;
    }
    .broschuere-grid > div{
        display: grid;
        grid-template-rows: auto 1fr;
    }
    .broschuere-grid .cta-btn{
        align-self: center;
    }

    @media (min-width: 768px) AND (max-width: 1000px){
        .broschuere-grid{
            display: grid;
            grid-template-columns: 320px 1fr;
            gap: 30px;
            margin-bottom: 60px;
        }
    }

    @media (max-width: 767px){
        .broschuere-grid{
            grid-template-columns: 1fr;
            gap: 20px;
            margin-bottom: 30px;
        }
        .broschuere-grid > img{
            justify-self: center;
        }
    }
</style>