---
import buero2 from '../../assets/buero2.jpg';
---

<div class="container">
    <h2>Idee<span>.</span> Planung<span>.</span> Umsetzung<span>.</span></h2>
    <div class="planning-grid section">
        <div class="planning-left light-text">
            <p>Ein Bauprojekt beginnt mit einer klaren Vision:</p>
            <p>
                Von der Idee einer einzigartigen Einrichtung bis hin zur konkreten Planung des Innenraums ganzer Gebäude setzen wir Ihre Vorstellungen um.
            </p>
            <p>
                Unser kreatives Team entwickelt Konzepte, die nicht nur funktional, sondern auch inspirierend sind. 
                In enger Zusammenarbeit entstehen Entwürfe, welche Ihr Unternehmen widerspiegeln. 
                Schließlich wird das Projekt schlüsselfertig realisiert, sodass Ihre Mietfläche zu einer produktiven Wohlfühloase für Ihr Team wird. 
            </p>
            <p>
                Wir beraten Sie gerne und freuen uns auf Ihr Bauprojekt!
            </p>
            <a href=/angebot><button class="cta-btn">
                Mit uns planen
            </button></a>
        </div>
        <img src={buero2.src} width="350" class="round-img" >
    </div>
</div>

<style>
    .planning-grid{
        display: grid;
        grid-template-columns: 1fr 350px;
        gap: 50px;
    }
    .planning-left{
        display: grid;
        grid-template-rows: auto auto 1fr;
    }
    .planning-left > button{
        align-self: center;
    }

    @media (min-width: 768px) AND (max-width: 1000px){
        .planning-grid{
            display: grid;
            grid-template-columns: 1fr 300px;
            gap: 50px;
        }
        .planning-grid > img{
            width: 300px;
        }
    }

    @media (max-width: 767px){

        .planning-grid{
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;
        }
        .planning-grid > img{
            width: 300px;
            margin-left: auto;
            margin-right: auto;
        }
    }
</style>