---
import service1 from '../../assets/icons_services/mieter.svg';
import service2 from '../../assets/icons_services/laden.svg';
import service3 from '../../assets/icons_services/innen.svg';
import service4 from '../../assets/icons_services/schluessel.svg';
import { Image } from 'astro:assets';
---

<div class="container">
    <h2>Unsere Leistungen<span>.</span></h2>
    <div class="service-container">
        <div class="service-item">
            <Image class="icon" src={service1} alt="Mieterausbau"></Image>
            <span>Mieterausbau</span>
        </div>
        <div class="service-item">
            <Image class="icon" src={service2} alt="Ladenausbau"></Image>
            <span>Ladenausbau</span>
        </div>
        <div class="service-item">
            <Image class="icon" src={service3} alt="Innenausbau"></Image>
            <span>Innenausbau</span>
        </div>
        <div class="service-item">
            <Image class="icon" src={service4} alt="Schlüsselfertigbau"></Image>
            <span>Schlüsselfertigbau</span>
        </div>
    </div>
</div>

<style>

    .service-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 45px;
        padding: 10px 0 35px;
    }
    .service-item{
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        align-items: center;
        justify-items: center;
        font-size: 24px;
    }
    .service-item > .icon{
        height: 120px;
    }
    @media (min-width: 768px) AND (max-width: 1000px){
        .service-container{
            gap: 25px;
            padding: 10px 0 30px;
        }
        .service-item{
            font-size: 20px;
        }
        .service-item > .icon{
            height: 75px;
        }
    }

    @media (max-width: 767px){
        .service-container{
            grid-template-columns: repeat(2, 1fr);
            gap: 25px;
            padding: 10px 0 30px;
        }
        .service-item{
            font-size: 18px;
        }
        .service-item > .icon{
            height: 75px;
        }
    }
</style>