---
import '../styles/global.css';
const currentPath = new URL(Astro.request.url).pathname;
---
<header class="header">
    <div class="container nav">
        <a href="/">
            <img alt="Bauprojekt GmbHby FMC-Köhler" src="/img/logo.svg">
        </a>
        
        <div class="nav-links">
            <a class={currentPath === "/" ? "active" : ""} href="/">Startseite</a>
            <a class={currentPath === "/team/" ? "active" : ""} href="/team/">Über uns</a>
            <a class={currentPath === "/angebot/" ? "active" : ""} href="/angebot/">Angebot</a>
            <a class={currentPath === "/referenzen/" ? "active" : ""} href="/referenzen/">Referenzen</a>
            <a class={currentPath === "/karriere/" ? "active" : ""} href="/karriere/">Karriere</a>
            <a id="contact" class={currentPath === "/kontakt/" ? "active" : ""} href="/kontakt/">Kontakt</a>
        </div>

        <span class="mobile-menu  material-symbols-outlined">
            <svg xmlns="http://www.w3.org/2000/svg" width="45px" height="45px" viewBox="0 0 24 24"><path fill="currentColor" d="M3 8V7h17v1zm17 4v1H3v-1zM3 17h17v1H3z"/></svg>
        </span>
    </div>
</header>

<style>
    header {
        position: fixed;
        top: 0;
        width: 100%;
        padding: 10px 0 45px;
        background: #fff;
        z-index: 150;
        mask-image: radial-gradient(ellipse 100% 60px at center bottom, transparent 50%, black 51%);
    }

    img {
        margin-right: auto;
        max-height: 100%;
        vertical-align: inherit;
        height: 70px;
    }
    .nav{
        display: flex;
        gap: 30px;
        justify-content: space-between;
        align-items: center;
    }
    .nav-links{
        display: flex;
        gap: 30px;
        align-items: center;
    }

    a {
        text-align: center;
        text-decoration: none;
        color: #2f2f34;
        font-weight: 600;
        padding: 5px 0;
        border-bottom: 2px solid transparent;
    }

    a.active {
        border-color: var(--gray);
    }
    #contact{
        padding: 10px 25px;
        background-color: var(--yellow);
        border-radius: 10px;
    }
    .mobile-menu{
        display: none;
        cursor: pointer;
    }
    @media (max-width: 1000px){
        .header {
            mask-image: radial-gradient(ellipse 100% 40px at center bottom, transparent 50%, black 52%);
        }
        .header.active{
            mask-image: none;
        }
        img{
            height: 60px;
        }
        .mobile-menu{
            display: block;
        }
        .nav-links {
            display: none;
            gap: 10px;
            position: absolute;
            top: 75px;
            right: -100%;
            width: 100%;
            height: auto;
            padding: 15px 25px 50px;
            align-items: center;
            text-align: center;
            background-color: #fff;
            color: white;
            mask-image: radial-gradient(ellipse 100% 40px at center bottom, transparent 50%, black 52%);
            transition: 0.15s ease-in-out;
        }
        .nav-links > a{
            padding: 10px;
            border: none;
        }
        .nav-links > a.active{
            text-decoration: underline;
        }
        .header.active .nav-links {
            display: grid;
            grid-template-columns: 1fr;
            right: 0;
        }
    }

    @media (max-width: 767px){
        .header {
            padding: 10px 0 35px;
            mask-image: radial-gradient(ellipse 100% 25px at center bottom, transparent 50%, black 54%);
        }
        .nav-links{
            padding-bottom: 35px;
            mask-image: radial-gradient(ellipse 100% 25px at center bottom, transparent 50%, black 54%);
        }
        img{
            height: 40px;
        }
    }
</style>

<script>
    const hamburgerMenu = document.querySelector(".mobile-menu");
    const nav = document.querySelector(".header");

    if(!hamburgerMenu) throw Error("Element not found")

    hamburgerMenu.addEventListener("click", () => {
        if(!nav) throw Error("Element not found")
        nav.classList.toggle("active")
    });
</script>